section {
  display: table;
  width: 100vw;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  position: fixed;
  margin: auto;
  
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}