
<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="goTo('login')">
    Login
  </button>

  <button mat-menu-item (click)="goTo('swipe')">
    Swipe
  </button>
</mat-menu>

<div class="button-group">
  <input matInput placeholder="Anime Name" [(ngModel)]="animeName" />
  <button mat-raised-button (click)="onSearchAnime()" *ngIf="isConnected()">Search Anime</button>
</div>

<div>
  <anime-card
    *ngFor="let anime of animes"
    [anime]="anime"></anime-card>
  <p #log id="log"></p>
</div>

<button mat-icon-button class="menu-button"
  [matMenuTriggerFor]="appMenu">
  <mat-icon>menu</mat-icon>
</button>

<router-outlet></router-outlet>
